:root {
  --primary-color: #4d94bc;
  --secondary-color: #ccedff;
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

.primary-button {
  border: none;
  background: var(--primary-color);
  box-shadow: 2px 2px 5px rgb(91, 91, 91, 0.3);
  color: #fff;
  border-radius: 4px;
  padding: 18px 46px;
  font-family: var(--primary-font);
  font-size: 18px;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 60px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 170px 20px;
}

.hero h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  color: #0e2633;
}

.hero h4 {
  font-family: var(--primary-font);
  font-size: 24px;
  color: #0e2633;
}

.content {
  text-align: center;
}

.content img {
  filter: grayscale(100%);
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

.content img:hover {
  filter: grayscale(0%);
}

.content .project-title {
  margin-top: 80px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
  }
}
